.postssp{
    flex: 20;
    display: flex;
    flex-wrap:wrap;
   margin-right: 700px;
    margin-left:150px;
    border-radius: 10px;
   padding: 40px;
   scroll-behavior: smooth;
    margin-top: 20px;
   background-color:rgba(55,61,96,0.835);
   
}

/* .postImg{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 330px;
    height: 300px;
   margin-left: 25px;
} */

.postInfo{
    display: flex;
    /* flex-direction: column; */
    align-items: right;
    font-family: 'Varela', sans-serif;
    padding-right: 25px;
    width: 45%;
    /* padding-left: 5px; */
}

.postTitlePost{
    font-family: 'Varela', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    color:rgb(220, 150, 20);
    margin-left: 370px;
    
}

.postDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: rgb(89, 87, 87);
    margin-top: 15px;
}
.postBy{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 13px;
    color: rgb(46, 37, 37);
    margin-top: 15px;

}

.postDesc{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:rgb(0, 0, 0);
  
}
.card{
    background-color:rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  
    
}

/* .box{
  background-color: azure;
  border-radius: 5px;
  height: 250px;
  padding: auto;
} */

.imagedisplayblog{
    width:700px;
    margin-left: 130px;
}