.gradereportcontainer{
    width: 90%;
    height: 400px;
    background-color: rgba(99, 209, 114, 0.496);
    margin-left: 80px;
    border-radius: 20px;
   
   
}
.option{
    padding: 5px;
    border: none;
    background-color: #a3bf90;
    width: 40%;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 800px;
    border-radius: 10px;
    margin-top: 30px;
}
.dotted{
    background-color:#3AA1B9;
    ;
    
}
.exportbtngrade{
    background-color: #d45854;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 140px;
    height: 35px;
    margin-left: 1200px;
    margin-top: 50px;
  
}
.gradereportcontainerinbound{
    margin: 40px;
}