.contain{
    justify-content: center;
}
.login{
    position: relative;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(12, 125, 118, 0.835);
    
    border-radius: 20px;
    height: auto;
    /* background-image: url("../../images/image01.jpg"); */
    height: 50%;
    width: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sub_btn{
    position: center;
    width: 150.85px;
    height: 50.88px;
    left: 822.81px;
    top: 624.63px;
border-radius: 10px;

}
