body {
    background-image: url(".images/image01.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  
  
    /*background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;*/
   }
   