.top{
    width: 150;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    position: sticky;
    top: 0;
    align-items: center;
    font-family:  'Josefin Sans', sans-serif;
    z-index:999 ;
    margin-top: -40px;
    

}

.topLeft,.topRight{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter{
    flex: 8;   
}

.topImg{
    width: 40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

/* .topSearchIcon{
    font-size: 18px;
    color: rgb(28, 27, 27);
    cursor: pointer;
    margin-left: 5px;
} */

.nav-link{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
    
}

.textarea{
  border: none;
  height: 25px;
}