body {
  background-image: url("../../images/Desktop\ -\ 3\ \(4\).png");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  


  /*background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/
 
}




.new {
  width: 100%;
  display: flex;
}
.new .newContainer {
  flex: 6;
}
.new .newContainer .top, .new .newContainer .bottom {
  
  padding: 10px;
  margin: 20px;
  display: flex;
}
.new .newContainer .top h1, .new .newContainer .bottom h1 {
  color: #3FA781;;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 650;
  font-size: 35px;
  line-height: 53px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin-left: 550px;
  letter-spacing: -0.02em;
}
.new .newContainer .top .right, .new .newContainer .bottom .right {
  flex: 2;
}
.new .newContainer .top .right form, .new .newContainer .bottom .right form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  box-shadow: 2px 4px 10px 1px rgba(99, 76, 76, 0.47);
}
.new .newContainer .top .right form .formInput, .new .newContainer .bottom .right form .formInput {
  width: 40%;
}
.new .newContainer .top .right form .formInput label, .new .newContainer .bottom .right form .formInput label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.new .newContainer .top .right form .formInput label .icon, .new .newContainer .bottom .right form .formInput label .icon {
  cursor: pointer;
}
.new .newContainer .top .right form .formInput input, .new .newContainer .bottom .right form .formInput input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: #fcb39bad;
  border-bottom: 1px solid #fba285;;
}
.new .newContainer .top .right form .break, .new .newContainer .bottom .right form .break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.new .newContainer .top .right form button, .new .newContainer .bottom .right form button {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: #fba285;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
 
}
/* .submit-btn{
  width: 150px;
  padding: 10px;
  border: none;
  background-color: teal;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}




.list-group{
  margin-right: 900px;
 margin-top: -80px;
}

.form-check{
  margin-right: 850px;
}
.btn{
   border-radius: 80%;
   background-color: rgb(182, 129, 231);
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.cancel-btn{
  background-color: rgb(182, 129, 231);
} */