/* .rcw-launcher{
    background-color:#373d60;
}

.rcw-conversation-container .rcw-header{
    background-color: #373d60;
}

.rcw-picker-btn{
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
    }

.rcw-messages-container .rcw-client .rcw-message-text{
    background-color:#d0c6d0
}

/* .rcw-open-launcher{
    background-image:url("../../images/1310025.png");
} */ 



@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.chat-container{
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 9px 25px #6988bb;
    overflow: hidden;
    border: 1px solid #6988bb;
    background: #6988bb;
}

.chat-header{
    min-height: 50px;
    overflow: hidden;
    background: #6988bb;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #6988bb ;
}

.chat-header p{
    margin-right: 20px;
    opacity: 0.8;
    cursor: pointer;
}
.chat-section{
    padding: 20px;
}

.main-wrapper{
    width: 100%;
    height: 500px;
}

.chat-content{
    width: 100%;
    height: 450px;
    background: white;
    overflow:auto;
    box-shadow: inset 0 0 1px #111;
    padding: 0 10px;
    border-radius: 3px;
    scrollbar-width: none;
}

.chat-container .message{
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message-row{
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 10px;

}

.you-message{
    justify-content: end;
    justify-items: end;
}

.other-message{
    justify-content: start;
    justify-items: start;
}

.message-text{
    padding: 9px 14px;
    margin-bottom: 5px;
}

.message-time{
    font-size: 13px;
    color: #777;
}

.you-message .message-text{
    background: #09244b;
    color: white;
    border: 1px solid #09244b;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text{
    background: #eee;
    color: black;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}

.message-title span{
    font-size: 12px;
    text-transform: capitalize;
}

.msg-text{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

}

.msg-text input,
.msg-text button{
    flex:4;
    height: 50px;
    outline: none;
    border: 1px solid #888;
    padding: 0 10px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.msg-text button{
    flex: 1;
    max-width: 120px;
    cursor: pointer;
    color: rgb(26, 137, 202);   
    font-size: large;
}

::-webkit-scrollbar{
    display: none;
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #fff !important
}

.chat-btn {
    position: absolute;
    right: 14px;
    bottom: 30px;
    cursor: pointer;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color:#6988bb;
      
    color: #fff;
    font-size: 22px;
    border: none
}

.wrapper {
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s
}

#check:checked~.wrapper {
    opacity: 1
}



.chat-form {
    padding: 15px
}

.chat-form input,
textarea,
button {
    margin-bottom: 10px
}

.chat-form textarea {
    resize: none
}

.form-control:focus,
.btn:focus {
    box-shadow: none
}

.btn,
.btn:focus,
.btn:hover {
    background-color: blue;
    border: blue
}

#check {
    display: none !important
}