.writes{
    padding-top: 10px;
    margin-top: 80px;
}

.writeForm{
position: relative;
margin-left: 300px;

}

/* .writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
    background-color:rgba(55,61,96,0.835);

} */

.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    margin-left: -100px;
}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    background-color:rgb(255, 255, 255);
    margin-left: -100px;
}

.writeInput:focus{
    outline: none;
}

.writeText{
  font-size: 20px;
  height: 100vh;
}

.writeSubmits{
    position: absolute;
    top:80px;
    color: rgb(15, 14, 14);
    padding: 10px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 880px;
    background-color: teal;
  
}

#fileInput{
    display: none;
}

/* .writeImg{
    padding-top: 10px;
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
} */

.postswrite{
    /* flex: 50;
    display: flex;
    flex-wrap:wrap; */
   /* margin-right: 100px; */
    border-radius: 10px;
   scroll-behavior: smooth;
   background-color:rgba(55,61,96,0.835);
   width: 95%;
   margin-left: 25px;
   margin-top: 70px;

}

.formcontrolblog{
    margin-left: -100px;
    width: 1075px;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
}