.NavbarItems{
    /*background: linear-gradient(90deg,rgb(97, 81, 235) 0%,rgb(153, 57, 233) 100%);*/
    
    height: 60px;
    width: 95%;
    
   
    display: flex;
   justify-content: space-between;
    border-radius: 5px;
    
    font-size: 1.2rem;
    margin-left: 30px;
    margin-top: 25px;
    margin-right: 30px;
    margin-bottom: 25px;
    

}

.navbar-logo{
    width: 200px;
    height:200px;
    justify-content:flex-start;
    margin-top: -60px;
    margin-left: -30px;
    cursor: pointer;
    
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
   
    justify-content: flex-start;
    margin-right: 2rem;
    margin-top: 15px;
    
    text-decoration: none;
    
}

.nav-links{
    color: rgb(55, 61, 96);
    text-decoration: double;
    padding: 0.5rem 1rem;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.fa-caret-down{
    color: rgb(55, 61, 96);
    margin-top: 5px;
    
}

.nav-links:hover{
    /* background-color: #0f0f0f93; */
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    size: 9px;
}
.fa-bars{
    color: #fff;
    padding-left: 20px;
}

.nav-links-mobile{
    display: none;
}
.menu-icon{
    display: none;
    
}

.fa-house-chimney{
    color: rgb(55, 61, 96);

}
.fa-blogger-b{
    color: rgb(55, 61, 96);
}
.fa-clipboard-question{
    color: rgb(55, 61, 96);
}
.fa-address-card{
    color: rgb(55, 61, 96);
}
.fa-caret-down{
    margin-left: 1px;
}

/* @media screen and (max-width: 960px) {
    .NavbarItems{
        position: relative;
        
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top:30px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;

    }
    .nav-menu.active{
        background: #FCB49B;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        

    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        height: 20px;
        display: table;
    }
    .nav-links:hover{
        background-color: #d2eaf8;
        border-radius: 0%;

    }
    .navbar-logo{
        
        justify-content:flex-start;
        margin-top: -60px;
        margin-left: -30px;
        top: -30;
        left: -30;
        transform: translate(25%,50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        
        
    }

} */
