   body{
    color: #25352571;
   }
  .Video {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    
  }
  
  .player {
    position: relative;
    border: 5px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    font-size: 0;
    overflow: hidden;
  }
  
  /* This css is only applied when fullscreen is active. */
  .player:fullscreen {
    max-width: auto;
    width: 100%;
    height: 100%
  }
  
  .player:-webkit-full-screen {
    max-width: auto;
    width: 100%;
  }
  
  .player__video {
    width: auto;
    height: auto;
  }
  
  .player__button {
    border: 0;
    line-height: 1;
    color: rgb(248, 213, 14);
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;
    background-color: #f4f80000;
  }
  
  .player__button:focus {
    border-color: #ffc600;
  }
  
  .player__slider {
    width: 30px;
    height: 30px;
  }
  
  .player__controls {
    display: flex;
    position:absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.1);
  }
  
  .player:hover .player__controls {
    transform: translateY(0);
  }
  
  .player:hover .progress {
    height: 10px;
  }
  
  .player__controls > * {
    flex: 10;
  }
  
  .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition:height 0.3s;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
  .progress__filled {
    width: 50%;
    background: #e0f07b;
    flex: 0;
    flex-basis: 0%;
  }
  
  input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 90%;
    margin:5px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255,255,255,0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }
  input[type=range]:focus::-wefbkit-slider-runnable-track {
    background: #bada55;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #f3f800;
    cursor: pointer;
  }
  
