/* .card{
    justify-content: center;
    position: relative;
    width: 12rem;
    height: 12rem;
    color: rgba(0, 0, 0, 0.898);
    opacity:inherit;
}*/

.text{
    font-size: small;
}

.btn{
    height: 30px;
    align-content: center;
    margin-top: auto;
    font-size: small;
    
}

.card-footer {
    background: transparent;
    border-top: 0px;
    margin-bottom: 2px;
  }

