.form{
    
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(151, 158, 144, 0.806);
    width: 50%;
    border-radius: 5px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}
.form-group{
    padding-top: 5px;
    padding-bottom: 5px;
}
.sub_btn{
    position: center;
    width: 450.85px;
    height: 50.88px;
    left: 922.81px;
    top: 724.63px;
border-radius: 0px;
background-color:#de380f;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}
.btn btn-primary{
    position: center;
    width: 450.85px;
    height: 50.88px;
    left: 922.81px;
    top: 724.63px;
border-radius: 0px;
background-color:#6a7574;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}