/* .teacherchatbox{
         margin-top: 100px;
         background-color:rgba(159, 168, 217, 0.835);
         width: 95%;
         margin-left: 45px;
}
.btndelete{
    background-color:tomato;
    border: none;
    
}

.btnreply{
    background-color: teal;
    border: none;
} */

