.post{
    flex: 50;
    display: flex;
    flex-wrap:wrap;
   margin-right: 100px;
    margin-left: 150px;
    border-radius: 10px;
   scroll-behavior: smooth;
   background-color:rgba(55,61,96,0.835);



   
}

/* .postImg{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 330px;
    height: 300px;
   margin-left: 25px;
} */

.postInfos{
    display: flex;
    flex-direction: column;
    align-items: right;
    font-family: 'Varela', sans-serif;
    margin-left: 30px;
    /* width: 45%; */
    /* padding-left: 5px; */
}

.postTitles{
    font-family: 'Varela', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
    color:rgb(54, 50, 99);
}

.postDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: rgb(89, 87, 87);
    margin-top: 15px;
}
.postBy{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 13px;
    color: rgb(46, 37, 37);
    margin-top: 15px;

}

.postDesc{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color:rgb(0, 0, 0);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-left: 5px;
    cursor: pointer;

}
.cards{
    background-color:rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  
    
}

/* .box{
  background-color: azure;
  border-radius: 5px;
  height: 250px;
  padding: auto;
} */

.posttopbar{
   position:fixed;
   margin-left: 450px;
   margin-top: 50px;
  
}

.allinone{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 55px;
    margin-left: 60px;
}

.searchblog{
    margin-left: 1000px;
    height: 30px;
    margin-top: 10px;
}

.topSearchIcon{
        font-size: 18px;
        color: rgb(28, 27, 27);
        cursor: pointer;
        margin-left: 5px;
        margin-top: 18px;

}