.dashboardadmin{
    position: relative;
    width: 100%;
    height: auto;
    
    border-radius: 10px;
    background-color: rgba(235, 236, 243, 0.835);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

h6{
    color: rgb(0, 0, 0);
    padding-top: 10px;
}

h4{
    color: rgb(0, 0, 0);
    padding-top: 10px;
}
.addfunc{
    display:inline-flex;
    grid-template-columns: repeat(2,auto);
    column-gap: 20px;
}
.addfuncstu{
    display:inline-flex;
    grid-template-columns: repeat(2,auto);
    column-gap: 10px;
}

a{
    color: rgb(0, 68, 255);
    font-size: smaller;
    text-decoration: none;
}
a:hover{
    color: rgb(0, 0, 0);
}