body {
  background-image: url("./images/background01.png");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  


  /*background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/
 }
 


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}