.header{
    margin-top: 60px;

}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    color: rgb(200, 191, 191);
}

.headerTitleLg{
    position: absolute;
    top:15%;
    font-size: 80px;
    font-family: 'Lora', serif;
    font-weight: bold;
}

.headerTitleSm{
    position: absolute;
    top:35%;
    font-size:20px;
    font-style: italic;
    font-family: 'Oleo Script Swash Caps', cursive;

}

.headerImg{
    width: 100%;
    height: 480px;
    margin-top: -50px;
    object-fit: cover;
}