.write{
    padding-top: 10px;
    margin-top: 80px;
}

.writeForms{
position: relative;
padding-top: 50px;
margin-left: 250px;

}

/* .writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
    background-color:rgba(55,61,96,0.835);

} */

.writeIcon1{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    margin-left: -100px;
}

.writeInput1{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    height: 70px;
    background-color:rgb(255, 255, 255);
    margin-left: -100px;
}

.writeInput:focus{
    outline: none;
}

.writeText{
  font-size: 20px;
  height: 100vh;
}

.writeUpdate{
    position: absolute;
    top:10px;
    color: rgb(15, 14, 14);
    padding: 10px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 880px;
    background-color: teal;
}

#fileInput{
    display: none;
}

/* .writeImg{
    padding-top: 10px;
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
} */

.editpostswrite{
    border-radius: 10px;
    scroll-behavior: smooth;
    background-color:rgba(55,61,96,0.835);
    width: 95%;
    margin-left: 25px;
    margin-top: 70px;
 
}